tensorflow==1.15.4
tensorflow-gpu==1.0.1
gensim==1.0.1
numpy==1.16.1
six==1.12.0
wheel==0.34.2
protobuf==3.10.0
smart-open==1.10.0
scipy==1.4.1
setuptools==46.0.0
google-cloud-storage==1.18.1
boto3==1.12.27
requests==2.21.0
google-cloud-core==1.0.3
google-resumable-media==0.4.1
google-auth==1.7.2
s3transfer==0.3.3
jmespath==0.9.5
botocore==1.15.27
idna==2.8
urllib3==1.24.3
certifi==2019.11.28
chardet==3.0.4
google-api-core==1.16.0
rsa==4.0
pyasn1-modules==0.2.8
cachetools==3.1.1
python-dateutil==2.8.1
docutils==0.15.2
pytz==2018.9
googleapis-common-protos==1.51.0
pyasn1==0.4.8
