tensorflow==2.9.3
tensorflow-gpu==1.0.1
gensim==1.0.1
numpy==1.16.1
mock==2.0.0
wheel==0.34.2
six==1.12.0
protobuf==3.8.0
scipy==1.2.2
smart-open==1.8.4
funcsigs==1.0.2
pbr==5.4.0
setuptools==44.0.0
bz2file==0.98
boto==2.49.0
requests==2.21.0
boto3==1.9.189
urllib3==1.24.3
certifi==2019.6.16
chardet==3.0.4
idna==2.8
jmespath==0.9.4
botocore==1.12.189
s3transfer==0.2.1
docutils==0.14
python-dateutil==2.5.3
futures==3.2.0
